@page
@model Vanguard.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Your Dashboard";
    Layout = "_Layout";
}

<h1>@Model.WelcomeText, @Model.DisplayName!</h1>
<p>@Model.TimeLabel @Model.LocalTimeString</p>

<p>This is your member dashboard.</p>
