@using Microsoft.AspNetCore.Identity
@using Vanguard.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser currentUser = null;
    if (SignInManager.IsSignedIn(User))
    {
        // Retrieve the currently signed-in user
        currentUser = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
    }
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User) && currentUser != null)
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Administration">
            Administration
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-page="/Dashboard" title="Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" id="register" href="/join">Join Vanguard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" id="login" href="/login">Login</a>
    </li>
}
</ul>

