@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li><a asp-action="ManageRanks">Manage Ranks</a></li>
    <li><a asp-action="ManagePositions">Manage Positions</a></li>
    <li><a asp-action="ManagePositionTypes">Manage Positions Types</a></li>
    <li><a asp-action="ManageUniverses">Manage Universes</a></li>
    <li><a asp-action="ManageFactions">Manage Factions</a></li>
    <li><a asp-action="ManageBranches">Manage Branches</a></li>
    <li><a asp-action="ManageUnits">Manage Units</a></li>
    <li><a asp-action="ManageGenders">Manage Genders</a></li>
    <li><a asp-action="ManageSpecies">Manage Species</a></li>
</ul>