@{
    ViewData["Title"] = "Manage Universes";
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
<p>Universe management tools coming soon.</p>
<p style="text-align: center"><a href="~/admin">Back</a></p>