@{
    ViewData["Title"] = "Manage Position Types";
    Layout = "_Layout";
}
<h2>@ViewData["Title"]</h2>
<p>Position Type management tools coming soon.</p>
<p style="text-align: center"><a href="~/admin">Back</a></p>