@{
    ViewData["Title"] = "Manage Ranks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<p>Rank management tools coming soon.</p>
<p style="text-align: center"><a href="~/admin">Back</a></p>