@page
@model CharactersModel
@{
    ViewData["Title"] = "Characters";
    ViewData["ActivePage"] = "Characters";
}

<h3>@ViewData["Title"]</h3>
<p>This is a placeholder page to manage characters.</p>
